@model WebAppIdentity.Models.Weather

<div>
    <h1>infocode：@Model.infocode</h1>
    <h2>adcode：@Model.lives[0].adcode</h2>
    <h3>city:@Model.lives[0].city</h3>
    <h4>temperature:@Model.lives[0].temperature 度</h4>
</div>