@model WebAppIdentity.Models.Recipe
@{
    ViewBag.Title = "Home Index";
}

@section section1{
    <h1>section1 的内容</h1>
}
<body>
    <div>
        RecipeName:@Model.Name
    </div>
    <div>
        IsVegan:@Model.IsVegan
    </div>
</body>

