@page "{routeValue?}"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@functions{
    [BindProperty]
    public string Name { get; set; } = "使用function显示的内容";
}
<p>Route Data:@Model.RouteValue</p>
<div class="form-group row">
    <p>@Model.Message</p>
    <form method="post" asp-page-handler="Handler1">
        <button class="btn btn-info">Post</button>
    </form>
    <p><a href="#" class="btn btn-info">Get</a></p>
</div>
<form method="post" asp-page-handler="HandleBindCollection">
    <div class="form-group row">
        <input type="checkbox" name="CategoryId" class="btn-check" value="Comedy"> Comedy<br />
        <input type="checkbox" name="CategoryId" value="Fantasy"> Fantasy<br />
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</form>
<form method="post">
    <input asp-for="@Model.RemoteValidation" class="form-control"/>
    <span asp-validation-for="@Model.RemoteValidation" />
    <input type="submit" value="submit" />
</form>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(function () {
        $("#submit").on("click", function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '',
                data: new FormData(document.forms[3]),
                contentType: false,
                processData: false,
                type: 'post',
                success: function () {
                    alert('upload by jquery')
                }
            })
        })
    })
</script>
}

